.mainTag {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: #115d0e;

}

.title{
    margin-left: 10vw;
    margin-top: 13vh;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
}

.outline {
    width: 85vw;
    height: 1px;
    margin-left: 7vw;
    position: absolute;
    top: 19.5vh;
    background-color: #000;
    margin-top: 10px;
}

.finish-button {
    width: 150px;
    height: 31px;
    position: absolute; 
    left: 997px;
    top:84px;
    padding: 1vh 3vw;
    margin-left: 1vw; 
    font-size: 13px;
    font-weight: 600;
    background-color: #53b56832;
    color: #53B569;
    border: 2.5px solid ;
    border-color: #53B569;
    border-radius: 5px;
    cursor: pointer;
}