.title-container {
    display: flex;
  }


.finish-button {
    width: 12vw;
    height: 5vh;
    position: absolute;
    left: 78vw;
    top: 19.5vh;
    padding: 1vh 3vw;
    margin-left: 1vw; 
    font-size: 1vw;
    font-weight: 600;
    background-color: #53b56832;
    color: #53B569;
    border: 2.5px solid ;
    border-color: #53B569;
    border-radius: 5px;
    cursor: pointer;
}

.studyPoint{
    display: inline-block;
    width: 1.6vw;
    height: 3.4vh;
    margin-left: 1vw;
    margin-top: 6.8vh;
}

.studyPoint-text {
    font-size: 1.4vw;
    margin-left: -34.5vw;
    margin-top: 6.5vh;

}

.weekly-container{
    margin-left: 7vw;
    margin-top: 5vh;
}
.weekly-container-title{
    font-size: 1.7vw;
    font-weight: 600;
}
.weekly-study, .addStudy{
    margin-bottom: 0.5vw;
    width: 85vw; 
    height: 8vh;
    margin-left: auto; 
    margin-right: auto; 
    border: rgba(0, 0, 0, 0.24) 1px solid;
}

.weekly-study, .addStudy:hover{
    cursor: pointer;
}

.weekly-study{
    background-color: #F7e49f;
    font-size: 1.2vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.711);
}

.addStudy{
    background-color: #fff0ba7b;
}
