.notice{
    font-size: 1.6vw;
    font-weight: 600;
    margin-left: 3vw;
    margin-top: 3.5vh;
    margin-bottom: 2.5vh;
}

.noticeBox{
    display: flex;
    flex-direction: column;
    background-color: #69d28263;
    margin-top: 3vh;
    margin-left: 7vw;
    width: 85vw;
    height:25vh;
}

.plus{
    display: block;
    width: 100%;
    height: auto;
}


.more-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 2vw;
    height:4vh;
    position: absolute;
    top: 33vh;
    left: 87vw;
  }

  
  .notice-title {
    font-size: 1.2vw;
    margin-left: 4vw;
    margin-top: -6vh;

  }
  
  .notice-date {
    font-size: 1.2vw;
    color: grey;
    margin-left: 70vw;
    margin-top: -7vh;

  }

  .noticeItem {
    display: flex;
    cursor: pointer;
    margin-top: 6.5vh;

}

.noticeContent {
  display: flex;
  flex-direction: column;
  margin-bottom: -13vh;
}

.noticeItem:hover {
    color: #377445;
}