.review-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.review-content {
    background-color: #fefefe;
    margin: 28.5vh 30.9vw;
    padding: 5vw;
    border: 1px solid #888;
    width: 36.2vw;
    height: 65vh;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

.review-message-design {
    background-color: #bad9c1;
    position: absolute;
    left: 31vw;
    top: 26vh;
    width: 30.45vw;
    height: 3vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1.58vw;
    padding-left: 4vw;
    font-weight: 600;
    font-size: 1.5vw;
    text-align: left;
}

.close-review-button {
    position: absolute;
    top: 31.5vh;
    margin-left: 13.5vw;
    font-size: 1.5vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}


.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4vh;
}

.checkbox-button {
    display: none;
}

.checkbox-label {
    display: inline-block;
    padding: 0.9vh 1.2vw;
    margin: 0.7vh;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    flex: 0 1 auto; 
}

.checkbox-button:checked + .checkbox-label {
    background-color: #089136c5;
    color: white;
    border-color: #09a33dad;
}


.front-button {
    position: absolute;
    top: 30.5vh;
    left: 31.5vw;
    padding: 1.5vh 1.5vw;
    font-size: 1.1vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2vw;
    color:rgba(0, 0, 0, 0.4);
}

.back-button {
    position: absolute;
    top: 30.5vh;
    left: 42vw;
    padding: 1.5vh 1.5vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2vw;
    color:rgba(0, 0, 0, 0.4);
}

.submit-button {
    margin-left: 2vw;
    margin-top: 3vh;
    padding: 1.5vh 3vh;
    background-color: rgb(5, 137, 5);
    color: white;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgb(0, 68, 0);
}

