.popular_study {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1vh;

    height: 45vh;
}

.top_study {
    text-align: center;
    font-size: 2.0vw;
    height: 13vh;
}