.study-calendar {
    margin-top: 3vh;
    margin-left: 7vw;
    width: 35vw; 
    height: 35vh; 
    text-align: center;

  }
  
  .react-calendar {
    width: 100%;
    
  }

  .react-calendar__tile--now {
    background-color: rgba(0, 128, 0, 0.184) !important; 
  }

  .react-calendar__tile--active {
    background-color: green !important; 
    color: white; 
  }

 
  