.myStudy {
    display: flex;
    align-items: flex-start;
    border: 2px solid #cacaca;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 13.5vw;
    margin-top: 5vh;
    width: 72vw;
    height: 19vh;
  }
  
  .studyTitle {
    font-size: 1.5vw;
    margin-top: 7.4vh;
    margin-left: 5vw;
    margin-right: 38vw;
  }
  
  .studyList-button {
    padding: 1vw 3vw;
    background-color: white;
    color: #4caf50;
    border:  #4caf50 solid 1.8px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1vw;
    margin-top: 5.5vh;
  }
  
  .studyList-button:hover {
    background-color: #cecece5c;
  }


.title{
    font-size: 2.1vw;
    margin-left: 9vw;
    margin-top: 5vh;
    font-weight: 600;
    background-color: transparent;
    
}

.outline {
    width: 85vw;
    height: 1px;
    margin-left: 7vw;
    margin-top: -3vh;
    background-color: #000;
}

.inline {
    width: 72.5vw;
    height: 0.12vh;
    margin-left: 13.5vw;
    background-color: #000;
    margin-top: -1vh;
}

.deleteID {
    width: 12vw;
    height: 5vh;
    position: absolute;
    left: 78vw;
    top: 19.5vh;
    padding: 1vh 3vw;
    font-size: 1vw;
    font-weight: 600;
    background-color: #53b56832;
    color: #53B569;
    border: 2.5px solid ;
    border-color: #53B569;
    border-radius: 5px;
    cursor: pointer;
}


.profile {
    display: flex;
    flex-direction: column;
    width: 72vw;
    height: 35vh;
    margin-top: 7vh;
    margin-left: 13.5vw;
    background: #69D281;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.circle-container {
    position: absolute;
    left: 18vw;
    top: 37.7vh;
    width: 13vw;
    height: 26vh;
    overflow: hidden;
    border-radius: 50%;
    background-color:rgb(229, 229, 229)
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    margin-top: 2vh;
    object-fit: cover;
  }



.user-ID{
    padding-left: 21vw;
    margin-bottom: 2vh;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
}

.user-point{
    padding-left: 21vw;
    padding-top: 1vh;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
}

.user-tag{
    padding-left: 21vw;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
}

.level-image img{
    width: 85px;
    height: auto;
    position: absolute;
    left: 74vw;
    top: 33.5vh;
}

.study-list{
    margin-left: 14vw;
    margin-top: 6vh;
    font-style: normal;
    font-weight: 550;
    font-size: 1.5vw;
}

.edit-profile-button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 73vw;
    top: 61vh;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    color:#646464;
    text-decoration: underline;
}

.main-pTag{
  margin-top: -6.3vh;
  margin-bottom: 0.5vw;
  margin-left: 28.5vw;
  height: 4vh;
  width: 11vw;
}

.main-nTag{
  margin-left: 28.5vw;
  height: 4vh;
  width: 11vw;
}