

.rankRow {
    margin-top: 5cqh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #53B569;
    width: 80vw;
    color: white;
    border: 1px solid #53B569;
    height: 6vh;
}

.rankHeaderBasic {
    font-size: 2.5vh;
    font-weight: 600;
    width: 20%;
    text-align: center;
}

.rankHeaderTitle {
    font-size: 2.5vh;
    font-weight: 600;
    width: 40%;
    text-align: center;
}