.commentInput {
    width: 70vw;
    height: 20vh;
    background: #F5F5F5;
    border: 1px solid #E9E9E9;
    resize: none;
    font-size: 2vh;
}

.commentUpload {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 3vw;
    justify-content: center;
    align-items: end;
}